In [1]:
import pandas as pd

In [2]:
swallow_data = pd.read_csv("Swallow.csv")

In [3]:
swallow1 = swallow_data[swallow_data["swallow_id"].str.contains("H988")]
print(len(swallow1))

546

In [4]:
swallow2 = swallow_data[swallow_data["swallow_id"].str.contains("H982")]
print(len(swallow2))

533

In [5]:
swallow3 = swallow_data[swallow_data["swallow_id"].str.contains("H980")]
print(len(swallow3))

487

In [6]:
swallow4 = swallow_data[swallow_data["swallow_id"].str.contains("H974")]
print(len(swallow4))

514

In [7]:
all_swallows = [swallow1, swallow2, swallow3]

In [8]:
swallow_alot = pd.concat(all_swallows)
swallow_alot

,event-id,visible,timestamp,long,lat,location-error-text,sensor-type,individual-taxon-canonical-name,swallow_id,individual-local-identifier,study-name
3014,2549647527,True,27:11.0,-58.47,-38.25,-38.25:-58.47:-38.25:-58.47,solar-geolocator,Hirundo rustica,H988,H988,Argentine Barn Swallows
3015,2549647528,True,39:08.0,-58.47,-38.25,-38.25:-58.47:-38.25:-58.47,solar-geolocator,Hirundo rustica,H988,H988,Argentine Barn Swallows
3016,2549647529,True,26:40.0,-58.47,-38.25,-38.25:-58.47:-38.25:-58.47,solar-geolocator,Hirundo rustica,H988,H988,Argentine Barn Swallows
3017,2549647530,True,27:46.0,-58.47,-38.25,-38.25:-58.47:-38.25:-58.47,solar-geolocator,Hirundo rustica,H988,H988,Argentine Barn Swallows
3018,2549647531,True,21:40.0,-58.47,-38.25,-38.25:-58.47:-38.25:-58.47,solar-geolocator,Hirundo rustica,H988,H988,Argentine Barn Swallows
...,...,...,...,...,...,...,...,...,...,...,...
1989,2549646502,True,16:41.0,-57.18,-25.20,-30.6:-58.16:-17.55:-56.18,solar-geolocator,Hirundo rustica,H980,H980,Argentine Barn Swallows
1990,2549646503,True,07:13.0,-57.18,-25.20,-30.6:-58.16:-17.55:-56.18,solar-geolocator,Hirundo rustica,H980,H980,Argentine Barn Swallows
1991,2549646504,True,08:32.0,-57.18,-25.20,-38.7:-59.58:-25.2:-56.95,solar-geolocator,Hirundo rustica,H980,H980,Argentine Barn Swallows
1992,2549646505,True,16:40.0,-58.27,-29.25,-38.7:-59.83:-25.2:-56.95,solar-geolocator,Hirundo rustica,H980,H980,Argentine Barn Swallows
1993,2549646506,True,02:49.0,-58.85,-38.25,-38.7:-59.04:-37.8:-57.9,solar-geolocator,Hirundo rustica,H980,H980,Argentine Barn Swallows

In [10]:
swallow_alot.to_csv(r'Swallow.csv', index = False, header = True)